<ion-view title="GiffingAwesome - Login">

  <ion-content class="background-color">
    <div ng-show="auth.authData">
      <h1>You are logged in!</h1>
      <p>Hello, {{auth.authData.displayName}}</p>
      <p>uid: {{auth.authData.uid}}</p>
      <button class="button button-block button-balanced" ng-click="auth.$signOut()">Logout</button>
    </div>
    <div ng-hide="auth.authData">
      <div class="logo-container text-center">
        <img class="main-logo" src="img/logos/giffing_awesome_full.png" alt="giffingawesome logo">
      </div>

    <div class="login">
      <h1 class="login-title text-center padding">Let's get started!</h1>
      <div class="list list-inset">
        <button class="button button-block icon-left ion-social-twitter button-calm" ng-click="$parent.login('twitter')"> Sign In With Twitter</button>
        <button class="button button-block icon-left ion-social-google button-assertive" ng-click="$parent.login('google')"> Sign In With Google</button>
      </div>
    </div>
  </ion-content>

  <footer class="bar bar-footer bar-dark">
    <div class="title">
      <img class="logo middle" src="img/logos/giphy.png" alt="giphy logo">
      <img class="logo middle" src="img/logos/gifme.png" alt="gieme logo">
      <img class="logo middle" src="img/logos/riffsy.png" alt="riffsy logo">
    </div>
  </footer>
</ion-view>
