// These rules only allow the current user to read/write to their own portion of the file storage

service firebase.storage {
  match /b/firebase-giffingawesome.appspot.com/o {
    match /{allPaths=**} {
      allow read; // always allow read even without auth
    }

    match /users/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
