<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Add Custom Gif</h1>
    <button class="button button-icon icon ion-close" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="center-image" ng-show="!$parent.customGif.failed && $parent.customGif.imgUrl.length > 0">
        <img ng-src="{{$parent.customGif.imgUrl}}" alt="Custom Gif" customonload>
      </div>

      <div class="row">
        <div class="col">
          <ion-radio ng-model="$parent.$parent.$parent.customType" ng-value="'upload'">Upload Gif</ion-radio>
        </div>
        <div class="col">
          <ion-radio ng-model="$parent.$parent.$parent.customType" ng-value="'link'">Custom URL</ion-radio>
        </div>
      </div>

      <!-- Yuck, parent of parent of parent. Not sure why there are so many scopes! -->
      <label ng-show="$parent.customType === 'upload'" class="button button-full button-dark file-upload">
        <i class="icon ion-upload placeholder-icon"></i>
        {{$parent.$parent.$parent.files ? $parent.$parent.$parent.files[0].name : "Choose File"}}
        <input type="file" class="file-input" file-input="$parent.$parent.$parent.files"/>
      </label>

      <label ng-show="$parent.customType === 'link'" class="item item-input">
        <i class="icon ion-link placeholder-icon"></i>
        <input type="text" ng-model="$parent.customGif.imgUrl" ng-change="$parent.customGif.failed = false" placeholder="Url">
      </label>

      <label class="item item-input">
        <i class="icon ion-pound placeholder-icon"></i>
        <tags-input ng-model="$parent.customGif.tags"></tags-input>
      </label>

      <button class="button button-full button-dark" ng-click="addCustomGif()">Add</button>

      <div class="padding center-image" ng-show="$parent.uploadProgress > 0 && $parent.uploadProgress < 100">
        <ion-spinner ></ion-spinner>
      </div>
      <progress ng-show="$parent.uploadProgress > 0" ng-value="$parent.uploadProgress" max="100"></progress>
    </div>
  </ion-content>
</ion-modal-view>
