<div layout="column" title="Login">
  <div class="has-header">
    <div class="list list-inset">

      <div ng-show="auth.authData">
        <h1>You are logged in!</h1>
        <p>Hello, {{auth.authData.facebook.displayName}}{{auth.authData.twitter.displayName}}{{auth.authData.google.displayName}}</p>
        <p>uid: {{auth.authData.uid}}</p>
        <button class="button button-block button-dark" ng-click="auth.$unauth()">Logout</button>
      </div>
      <div ng-hide="auth.authData">
        <h1>Welcome, please log in.</h1>

        <div md-theme="socialColors">
          <section layout="row">
            <md-button flex class="md-primary md-raised" ng-click="auth.$authWithOAuthPopup('facebook')" aria-label="Login with Facebook">
              <ng-md-icon layout-margin layout="row" layout-align="left" icon="facebook" style="fill: white" size="32px"></nd-md-icon>
              Login With Facebook
            </md-button>
          </section>

          <section layout="row">
            <md-button flex class="md-accent md-raised" ng-click="auth.$authWithOAuthPopup('twitter')" aria-label="Login with Twitter">
              <ng-md-icon layout-margin layout="row" layout-align="left" icon="twitter" style="fill: white" size="32px"></nd-md-icon>
              Login With Twitter
            </md-button>
          </section>

          <section layout="row">
            <md-button flex class="md-warn md-raised" ng-click="auth.$authWithOAuthPopup('google')" aria-label="Login with Google">
              <ng-md-icon layout-margin layout="row" layout-align="left" icon="google-plus" style="fill: white" size="32px"></nd-md-icon>
              Login With Google
            </md-button>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>
