<section layout="row" flex ng-controller="MenuController">
  <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left">

    <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Toggle Menu">
          <ng-md-icon layout="row" layout-align="center" icon="menu" style="fill: white"></nd-md-icon>
        </md-button>
        <h1>Settings</h1>
      </div>
    </md-toolbar>

    <md-list>
      <md-list-item href="#/app/search">
        <span>Search</span>
      </md-list-item>
      <md-list-item href="#/app/favorites">
        <span>Favorites</span>
      </md-list-item>
      <md-list-item href="#/app/settings">
        <span>Settings</span>
      </md-list-item>
      <md-list-item href="#">
        <span>Logout</span>
      </md-list-item>
    </md-list>

  </md-sidenav>
  <div layout="column" layout-fill layout-align="top center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Toggle Menu">
        <ng-md-icon layout="row" layout-align="center" icon="menu" style="fill: white"></nd-md-icon>
      </md-button>
      <h1>Giffing Awesome</h1>
    </div>
  </md-toolbar>
</section>

<div ui-view name="menuContent" layout-margin></div>
