<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" ng-init="loadImages()">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="$parent.search" ng-change="changeSearch()" ng-model-options='{ debounce: 500 }' placeholder="Search">
      </label>
    </div>

    <div class="list list-inset">
      <ion-radio ng-model="$parent.api" ng-value="'Giphy'" ng-change="changeSearch()">Giphy</ion-radio>
      <ion-radio ng-model="$parent.api" ng-value="'GifMe'" ng-change="changeSearch()">GifMe</ion-radio>
      <ion-radio ng-model="$parent.api" ng-value="'Riffsy'" ng-change="changeSearch()">Riffsy</ion-radio>
    </div>
    
    <div class="list list-inset">
      <ion-toggle ng-model="$parent.hq" ng-disabled="$parent.api == 'GifMe'" toggle-class="toggle-calm">High Quality</ion-toggle>
    </div>

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <div class="grid-item card" ng-repeat="image in images">
        <img ng-src="{{$parent.hq ? image.hqImgUrl : image.imgUrl}}" ng-click="openModal(image.originalImgUrl)"/>
        <div class="row">
          <div class="col">
            <button class="button icon" ng-click="$favorite = !$favorite"
              ng-class="($favorite) ? 'ion-android-star' : 'ion-android-star-outline'"></button>
          </div>
          <div class="col">
            <button class="button icon ion-clipboard" clipboard text="image.originalImgUrl" on-copied="copySuccess()" on-error="fail(err)"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="end-results" ng-if="moreDataCanBeLoaded() == false">
      <h4>End of results</h4>
    </div>

    <ion-infinite-scroll on-infinite="loadImages()" ng-if="moreDataCanBeLoaded()"></ion-infinite-scroll>

  </ion-content>
</ion-view>
