.grid {
  padding: 0.5em;
}

.grid-item {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

.grid-item img {
  height: 10em;
  cursor: pointer;
}
/*
.grid-item img:not(.success) {
  padding: 45px;
}*/

.grid-item .col {
  text-align: center;
}

.end-results h4 {
  text-align: center;
  color: #444444;
}

.modal-preview {
  text-align: center;
}

.modal-preview img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 680px) {
  .modal {
    top: 7%;
    bottom: 5%;
  }
}
