/* Overwrite default ionic scroll bar behavior */
.overflow-scroll {
  overflow-y: auto;
}

/* Slightly darker header / footer */
.bar.bar-dark {
  background-color: #222;
}

/* Logo style */
.logo {
  margin-right: 10px;
  max-height: 30px;
  vertical-align: middle;
}

/* Custom Progressbar */
progress::-moz-progress-bar {
  background: #444444;
}

progress::-webkit-progress-value {
  background: #444444;
}

progress {
  color: #444444;
  border: 1px solid #0063a6;
  background: #fff;
}

/* Custom file upload button */
.file-upload {
  color: #aaa;
}

.file-upload input.file-input {
  visibility: hidden;
  width: 0;
}

/* Grid style */
.grid {
  padding: 0.5em;
}

.grid-item {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  max-width: 25em;
}

.grid-item img {
  height: 10em;
  cursor: pointer;
}

.grid-item .col {
  text-align: center;
}

.end-results h4 {
  text-align: center;
  color: #444444;
}

/* Preview style */
.right-menu {
  padding: 1em;
}

.center-image {
  text-align: center;
  padding: 1em;
}

.center-image img {
  max-width: 100%;
}

.item-input-wrapper input {
  width: 100%;
}

/* Custom tags style */
.tag {
  border: 1px solid #222;
  display: inline-block;
}

tags-input .tags .tag-item.selected {
  background: #febbbb;
}

tags-input .host {
  width: 100%;
}

tags-input .tags {
  border: none;
  box-shadow: none;
}

tags-input .tags .input {
  margin: 0px;
  padding-left: 0px;
}

tags-input .tags .tag-item {
  background: none;
}

tags-input .tags .focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
