/* Universal stuff */
.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
}

.responsive-img {
  max-height: 70%;
  max-width: 70%;
}

.card, .list-inset {
  background-color: transparent !important;
}

.no-underline {
  text-decoration: none;
}

.margin {
  margin: 6px;
}

.margin-extra {
  margin: 16px;
}

.loading-background {
  background-image: url("../img/loading.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  min-width: 50px;
  min-height: 50px;
}

/* Overwrite default ionic scroll bar behavior */
.overflow-scroll {
  overflow-y: auto;
}

/* Override default modal sizing */
@media (min-width: 680px) {
  .modal {
    top: 15%;
    right: 15%;
    bottom: 15%;
    left: 15%;
    min-height: 240px;
    width: 70%;
  }
}

/* Login page */
.background-color {
  background-color: #55ef44;
}

.bar-footer {
  position: relative;
}

.login {
  position: relative;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  padding: 20px 10px;
  margin-bottom: 20px;
}

@media only screen and (min-height : 600px) {
  .bar-footer {
    position: absolute;
  }

  .login {
    position: fixed;
    bottom: 70px;
    margin: auto;
  }
}

@media only screen and (min-width : 500px) {
  .login {
    left: calc((100% - 480px) / 2);
    width: 480px;
    border-radius: 5px;
  }
}

.login-title {
  color: white;
  padding: 0;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

/* Logo styles */
.logo-container {
  padding-top: 7vh;
}

.main-logo {
  max-width: 80%;
}

@media only screen and (min-height : 600px) {
  .logo-container {
    padding-top: calc(0.07 * 600px);
  }
}

@media only screen and (min-width : 500px) {
  /* For larger devices, just keep the max of the logo at 600px wide (70% * 600px)
    This prevents the nasty snap effect when draggging a window on desktop */
  .main-logo {
    max-width: calc(0.8 * 500px);
  }
}

.logo {
  margin-right: 10px;
  max-height: 30px;
  vertical-align: middle;
}

/* Custom Progressbar */
progress::-moz-progress-bar {
  background: #444;
}

progress::-webkit-progress-value {
  background: #444;
}

progress {
  color: #444;
  border: 1px solid #0063a6;
  background: #fff;
}

/* Custom file upload button */
.file-upload {
  color: #aaa;
}

.file-upload input.file-input {
  visibility: hidden;
  width: 0;
}

/* Grid style */
.grid {
  padding: 0.5em;
}

.grid-item {
  display: inline-block;
  margin: 0.5em 0.5em;
  text-align: center;
  max-width: 350px;
}

.grid-item img {
  max-height: 150px;
  cursor: pointer;
}

.grid-item .col {
  text-align: center;
}

.end-results h4 {
  text-align: center;
  color: #444444;
}

/* Preview style */
.right-menu {
  padding: 1em;
}

.center-image {
  text-align: center;
  padding: 1em;
}

.center-image img {
  max-width: 100%;
}

.item-input-wrapper input {
  width: 100%;
}

/* Custom tags style */
.tag {
  border: 1px solid #222;
  display: inline-block;
}

tags-input .tags .tag-item.selected {
  background: #febbbb;
}

tags-input .host {
  width: 100%;
}

tags-input .tags {
  border: none;
  box-shadow: none;
}

tags-input .tags .input {
  margin: 0px;
  padding-left: 0px;
}

tags-input .tags .tag-item {
  background: none;
}

tags-input .tags .focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
